.wrapper {
  padding: $sctn-pad-sm-mbl;
}

.content {

  &-block {
    margin-bottom: size(lg);

    &-regular {
      @include respond(tab-land) {
        @include contentFlex;

        flex-direction: row;
      }
    }

    &-reverse {
      @include respond(tab-land) {
        @include contentFlex;

        flex-direction: row-reverse;
      }
    }

    &-text {
      text-align: $txt-cntr;

      @include respond(tab-land) {
        text-align: $txt-rt;
      }
    }

    &-img-content {
      @include imgBorder;

      margin-top: size(x-sml);
      transform: scale(0.88);
      transition: $transit-standard;

      &:hover {
        outline-offset: size(sml) - 0.25rem;
        transform: scale(0.9);
      }
    }
  }
}