.header {
  // Photo from Unsplash: https://unsplash.com/photos/RChZT-JlI9g
  // Photographer: Sebastiaan Stam 
  background: url('../img/hero-small.jpg') no-repeat top center;
  background-size: cover;
  height: 100vh;
  position: relative;

  // At 1300px, increase picture resolution
  @include respond(laptop) {
    background: url('../img/hero-medium.jpg') no-repeat top center;
    background-size: cover;
  }

  // At 2500px, increase picture resolution
  @include respond(desktop-lg) {
    background: url('../img/hero-large.jpg') no-repeat top center;
    background-size: cover;
  }

  &-block {
    opacity: 0;
    visibility: hidden;

    @include respond(tab-port) {
      position: absolute;
      right: 3%;
      top: 14%;

      opacity: 1;
      visibility: visible;

      &-heading-secondary {
        font-size: 1.75rem;
        font-weight: 400;

        @include respond(laptop) {
          font-size: 2rem;
        }

        @include respond(laptop-lg) {
          font-size: 2.25rem;
        }

        @include respond(desktop) {
          font-size: 3rem;
        }
      }

      &-heading-primary {
        font-size: 3rem;
        font-weight: 900;
        position: relative;

        @include respond(laptop) {
          font-size: 3.5rem;
        }

        @include respond(laptop-lg) {
          font-size: 4.25rem;
        }

        @include respond(desktop) {
          font-size: 6.5rem;
        }
      }
    }

    // Positioning text box at larger sizes
    @include respond(tab-land) {
      right: 13%;
      top: 13%;
    }

    @include respond(laptop) {
      right: 17.5%;
      top: 11%;
    }

    @include respond(laptop-lg) {
      right: 17%;
      top: 14%;
    }

    @include respond(desktop) {
      right: 9.5%;
      top: 9%;
    }
  }

  &-arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;

    &-icon {
      font-size: 2.5rem;
      opacity: 0.75;
      transition: $transit-standard;

      &:hover {
        opacity: 1;
        transform: translateY(4px);
      }

      @include respond(laptop) {
        font-size: 2.75rem;
      }

      @include respond(desktop) {
        font-size: 3rem;
      }
    }
  }
}