.skills-block {
  @include flexCenter;
  flex-flow: row wrap;

  &-link:link,
  &-link:visited {
    @include buttonStyles;

    margin: size(tny) size(x-sml);
  }

  &-link:hover,
  &-link:active,
  &-link:focus {
    background-color: $clr-wht;
    color: $clr-blk;
    font-weight: $fw-reg;
    transform: translateY(-4px);
  }
}