.skills-block {
  @include flexCenter;
  flex-flow: row wrap;

  &-link:link,
  &-link:visited {
    @include buttonStyles;

    margin: 1rem 2rem;
  }

  &-link:hover,
  &-link:active,
  &-link:focus {
    background-color: $clr-wht;
    color: $clr-blk;
    font-weight: 400;
    transform: translateY(-4px);
  }
}