.contact {

  &-block {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-evenly;

    margin: size(med) 0;

    &-left {
      padding: size(x-sml);
    }
  }

  &-form {
    @include imgBorder;
    display: inline-block;

    &-group {
      margin-bottom: size(tny);

      &-label {
        display: block;
        font-size: size(x-sml) - 0.25rem;
      }

      &-input {
        @include formInputStyles;

        width: 25rem;

        @include respond(tab-port) {
          width: 35rem;
        }

        @include respond(laptop) {
          width: 40rem;
        }
      }

      &-textarea {
        @include formInputStyles;

        height: size(msv);
        min-height: size(hg);
        max-height: 12rem;

        width: 25rem;
        min-width: 23rem;
        max-width: 27rem;

        @include respond(tab-port) {
          width: 35rem;
          min-width: 33rem;
          max-width: 35rem;
        }

        @include respond(laptop) {
          width: 40rem;
          min-width: 37rem;
          max-width: 43rem;
        }
      }

      &-submit {
        @include buttonStyles;

        background-color: $clr-blk;
        color: $clr-wht;
        cursor: pointer;
        font-family: $txt-main;
        margin: 0;
        transition: $transit-standard;

        &:hover,
        &:active,
        &:focus {
          background-color: $clr-wht;
          color: $clr-blk;
        }
      }

      &-send {
        display: flex;
        justify-content: center;
      }
    }
  }
}