.icon-block {
  float: right;
  font-size: 2.5rem;
  margin-bottom: 3rem;

  &-link {
    transition: $transit-standard;

    &-left {
      margin-left: 0.75rem;

      @include respond(tab-land) {
        margin-left: 1rem;
      }
    }

    &-right {
      margin-right: 0.75rem;

      @include respond(tab-land) {
        margin-right: 1rem;
      }
    }

    &:hover {
      color: color(quat);
    }
  }

  &-left {
    float: left;
  }

  &-proj {
    @media only screen and (max-width: 1000px) {
      float: none;
      margin: 3rem auto;
    }
  }

  &-contact {
    float: left;
  }
}