.nav {

  @include respond(tab-land) {
    padding-right: size(msv);
  }

  &-list {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: flex-end;

    &-item {
      font-size: size(tny) + 0.25rem;
      margin-left: size(tny);


      &:not(:last-child) {
        border-right: 1px solid $clr-wht;
        padding-right: size(tny);
      }

      @include respond(laptop) {
        font-size: size(tny) + 0.5rem;
      }
    }

    &-link {
      transition: $transit-standard;

      &:hover {
        color: color(pri);
      }
    }
  }
}