.heading {

  &-section {
    font-size: size(med) + 0.5rem;
    padding: size(sml) 0;
    text-align: $txt-cntr;
  }

  &-block {
    font-size: size(sml) + 0.5rem;
    text-align: $txt-cntr;

    &-right {
      @include respond(tab-land) {
        text-align: $txt-rt;
      }
    }

    &-left {
      @include respond(tab-land) {
        text-align: $txt-lft;
      }
    }
  }
}

.para {
  font-size: size(tny) + 0.5rem;
  text-align: $txt-cntr;

  @include respond (laptop) {
    font-size: size(x-sml) - 0.25rem;
  }

  &:not(:last-child) {
    margin-bottom: size(x-sml);
  }

  &-right {
    @include respond(tab-land) {
      margin-left: size(x-sml) + 0.5rem;
      text-align: $txt-rt;
    }
  }

  &-left {
    @include respond(tab-land) {
      margin-right: size(x-sml) + 0.5rem;
      text-align: $txt-lft;
    }
  }

  &-link-ang {
    @include paraLinkStyles(color(pri));
  }

  &-link-car {
    @include paraLinkStyles(color(tert));
  }
}

.pink {
  color: color(pri);
}

.blue {
  color: color(tert);
}

.yellow {
  color: color(quin);
}

.header-block-heading-primary {
  position: relative;
  z-index: 20;

  &::before {
    position: absolute;
    left: 0;
    top: 0;

    height: 100%;
    width: 100%;

    content: "Web Developer";
    z-index: -1;
  }

  &::after {
    content: "Web Developer";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &::before {
    color: #ff00c1;
    animation: glitch-effect 3s infinite;
  }

  &::after {
    color: #3498db;
    animation: glitch-effect 2s infinite;
  }

  &:hover::before {
    animation: glitch-effect 1s infinite;
  }

  &:hover::after {
    animation: glitch-effect 2s infinite;
  }
}

.para-form {
  font-size: size(tny) + 0.25rem;
  padding-top: size(tny) + 0.5rem;
}